body{
    background-color: slategrey;
}




canvas {
    background-color: black;
   
}

table{
    width:40%;
    text-align: center;
    margin: auto;
    background-color: black;
}
table td{
    white-space: nowrap;
    border : 2px white solid;
    color: white;
    width: 150px;
    padding: 0px;
}

.nestTableL{
    text-align: right;
}

.nestTableR{
    text-align: left;
}