body{
    background-color: slategrey;
    font-family: Helvetica;
}




canvas {
    background-color: black;
   
}

table{
    text-align: center;
    margin: auto;
    background-color: black;
    table-layout: fixed;
}
.rowone {
    white-space: nowrap;
    border : 2px white solid;
    color: white;
    width: 150px;
    padding: 0px;
    text-align: center;
}

.rowtwo {
    white-space: nowrap;
    border : 2px white solid;
    color: white;
    width: 125px;
    padding: 0px;
    text-align: center;
}

div {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}