* {
    box-sizing: border-box;
  }
  
  #body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color:#acd6ea;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #9cd4d5;
    color: black;
  }


  /* Style the header */
  .header {
    background-color: #b7afa8;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    height: 50px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 700px;
  }
  
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    height: 100%;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 33.33%;
    height: 1000px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: #7a6339;
    padding: 5px;
    text-align: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
  }

.footertable{
  margin: auto;
  border: black 5px solid;
}

td {
  width: 100px;
}
  .userinput {
    width: 500px;
  }
  
  .footertd {
    width : 200px;
  }
  .errorinput {
    color: red;
    background-color: darkturquoise;
    width : 20%;
    margin: auto;
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.spaceshiptable {
  background-color: black;
  border: solid 5px black;
  margin:auto;
  width:100%; ;
  color: white;
}