body {
  background-color: rgb(64, 75, 128);
}

h1 {
  color: rgb(0, 255, 34);
  text-align: center;
}

p {
  color: red;
  font-family: verdana;
  font-size: 40px;
  text-align: center;
}

input[type=text]{
  width: 20%;
}

div {
  text-align: center;
}